<!--<p>admin-restaurant-list works!</p>
<table [value]="restaurants"
         [paginator]="true"
         [rows]="pageSize"
         [totalRecords]="totalRecords"
         [lazy]="true"
         [loading]="loading"
         (onLazyLoad)="onPageChange($event)"
         selectionMode="single"
         (onRowSelect)="onRowSelect($event.data)"
         [sortMode]="'multiple'">
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between align-items-center">
      <h3>Restaurants</h3>
      <div class="flex gap-2 align-items-center">
        <span>Active only:</span>-->
        <!--<p-inputSwitch [ngModel]="isActiveFilter === true"
                       (ngModelChange)="onIsActiveFilterChange($event ? true : null)"></p-inputSwitch>-->
      <!--</div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name
        <p field="name"></p>
      </th>
      <th pSortableColumn="isActive">
        Active
        <p field="isActive"></p>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-restaurant>
    <tr [pSelectableRow]="restaurant">
      <td>{{ restaurant.name }}</td>
      <td>
        <p [severity]="restaurant.isActive ? 'success' : 'danger'">
          {{ restaurant.isActive ? 'Active' : 'Inactive' }}
        </p>
      </td>
      <td>
        <button pButton label="Manage" icon="pi pi-cog" (click)="onRowSelect(restaurant)"></button>
      </td>
    </tr>
  </ng-template>
</table>-->
